<div style="margin: 50px">
  <h3>
    Test International Telephone Input Form
  </h3>

  <br>
  <form [formGroup]="phoneForm"
        (ngSubmit)="onSubmit()"
  >
    <mat-form-field style="width:50%">
      <ngx-mat-intl-tel-input
        [formGroup]="phoneForm"
        [controlName]="'phone'"
        [cssClass]="'custom'"
        [preferredCountries]="['us', 'ca']"
        [enableAutoCountrySelect]="true"
        [enablePlaceholder]="false"
        [enableMask]="true"
        placeholder="Enter Number"
        name="phone"
        #phone
      >
      </ngx-mat-intl-tel-input>

      <mat-hint>
        e.g. {{phone.selectedCountry.placeHolder}}
      </mat-hint>

      <mat-error *ngIf="phoneForm.controls['phone']?.errors?.required">
        Required Field
      </mat-error>

      <mat-error *ngIf="phoneForm.controls['phone']?.errors?.validatePhoneNumber">
        Invalid Number
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input name="name" matInput placeholder="Name" formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <input name="surname" matInput placeholder="surname" formControlName="surname">
    </mat-form-field>

    <button mat-button>Submit</button>
  </form>
  <br>
  <div><strong>Is input valid:</strong>
    <pre>
      {{ !phoneForm.controls['phone'].invalid }}
    </pre>
  </div>

  <div>
    <strong>
      Is input touched:
    </strong>
    <pre>
      {{ phoneForm.controls['phone'].touched }}
    </pre>
  </div>

  <div>
    <strong>
      Is form valid:
    </strong>
    <pre>
      {{ phoneForm.valid }}
    </pre>
  </div>

  <div>
    <strong>
      Form value:
    </strong>
    <pre>
      {{ phoneForm.value | json }}
    </pre>
  </div>

  <div>
    <strong>
      Form validation errors:
    </strong>
    <pre>
      {{ phoneForm.controls['phone'].errors | json }}
    </pre>
  </div>
</div>
